.header 
{
	background-color:#004E73;
	}
.title
{
	font:16px tahoma,arial,helvetica;
	margin: 5px;
	color: white;
	}

#welcome
{
	font:14px tahoma,arial,helvetica;
	margin: 20px;
	}

.supportedFeatures 
{
	list-style: disc none inside
	}

	
	
